.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#body {
    background-color: rgb(255, 255, 255);
}

.titulos {
    font-family: "Bungee", sans-serif;
}

.texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1%;
    border-bottom-style: ridge;
    position: sticky;
    top: 0px;
}

.header a:active {
    font-weight: bold;
}

.header a {
    color: white;
    text-decoration: none;
}

.header :hover {
    color: red;
}

.header a:hover {
    text-decoration: underline;
    color: red;
}

.menu {
    display: flex;
    justify-content: flex end;
    gap: 20px;
    list-style: none;
}

#section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 8%;
    background-image: url(img/1.png);
    background-size: cover;
    background-position: center;
    background-color: black;
}

.button {
    background: #000;
    color: #fff;
    width: 220px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 0.5%;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    color: red;
}

.tarjetas {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 1%;
}

.tarjetas h2 {
    flex-basis: 100%;
    padding: 1%;
}

#tipoTarjeta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 1%;
    background-color: grey;
}

#tipoTarjeta:hover {
    background-color: red;
}

#tipoTarjeta img {
    border-radius: 20%;
}

.amenazas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
    background-color: black;
    color: white;
}

.amenazas h2 {
    flex-basis: 100%;
    padding: 1%;
}

.amenaza1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    border-color: red;
    padding: 1%;
    background-color: rgb(248, 101, 133);
}

.amenaza2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    border-color: rgb(255, 238, 0);
    padding: 1%;
    background-color: rgb(248, 101, 133);
}

.amenaza3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    border-color: rgb(255, 0, 234);
    padding: 1%;
    background-color: rgb(248, 101, 133);
}

.amenaza4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    border-color: rgb(25, 0, 255);
    padding: 1%;
    background-color: rgb(248, 101, 133);
}

.amenaza1:hover {
    background-color: black;
}

.amenaza2:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}

.amenaza3:hover {
    background-color: black;
}

.amenaza4:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}

.amenaza1 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.amenaza1 img:hover {
    transform: scale(1.1);
}

.amenaza2 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.amenaza2 img:hover {
    transform: scale(1.1);
}

.amenaza3 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.amenaza3 img:hover {
    transform: scale(1.1);
}

.amenaza4 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.amenaza4 img:hover {
    transform: scale(1.1);
}

.campañas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    background-color: black;
    color: white;

}

.campañas h2 {
    flex-basis: 100%;
    padding: 1%;
}

.campaña1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    padding: 1%;
}

.campaña2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: dashed;
    border-width: 4px;
    padding: 1%;
}

.campaña3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-style: ridge;
    border-width: 4px;
    padding: 1%;
}

.campaña1 :hover {
    color: red;
}

.campaña2:hover {
    color: red;
}

.campaña3:hover {
    color: red;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 1%;
    border-top-style: ridge;
}

.redes {
    display: flex;
    justify-content: flex end;
    gap: 20px;
    list-style: none;
    color: white;
}

.redes a {
    text-decoration: none;
    color: white;
}

.redes a:hover {
    color: red;
    text-decoration: underline;
}