
    h2 {
        background: linear-gradient(45deg, purple, orange);
        text-align: center;
        width: 200 px;
    }

    h1 {
        font-family: "sofia" sans-serif;
        font-size: 30px;
    }