*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: aquamarine;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.header a:hover{
    color: white;
    text-decoration: underline;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 2%;
    list-style: none;
    color: white;
}

.nombreUsuario img{
    border-radius: 50%;
}

.nombreUsuario{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    padding: 1%;
    
}