*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: rgb(0, 139, 204);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.header a:hover{
    color: white;
    text-decoration: underline;
    
}

.menu{
    display: flex;
    justify-content: end;
    gap: 2%;
    list-style: none;
    color: white;
}

.nombreUsuario img{
    border-radius: 50%;
}

.nombreUsuario{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imgRed.jpg);
    background-size: cover;
    background-position: center;
    padding: 1%;
    
}

.Publicaciones{
    background-color: rgb(183, 225, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5.5%;
}

.publicacion1{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 1%;
}
.publicacion2{
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 1%;
}
.publicacion3{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 1%;
}

.publicacion1:hover{
    background-color: rgb(151, 238, 151);
}
.publicacion2:hover{
    background-color: rgb(229, 238, 151);
}
.publicacion3:hover{
    background-color: rgb(151, 238, 234);
}

.boton:hover{
    transform: scale(1.1);
}
.boton{
    background-color: blue; color: white; border-radius: 5px;
    cursor: pointer;
    padding: 1%;
    border: none;
}

.usuarios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(149, 232, 253);
    padding: 5.5%;
}

.usuario1 img:hover{
    transform: scale(1.1);
}
.usuario1{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-width: 3px;
    border-style: dotted;
    border-color: black;
}
.usuario2 img:hover{
    transform: scale(1.1);
}
.usuario2{
    background-color: rgb(240, 193, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(170, 218, 247);
    padding: 1%;
}


