* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
background-color: white;
}

h1{
    font-family: 'Times New Roman', Times, serif
}

p{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1%;
}

.menu{
    display: flex;
    justify-content: flex end;
    gap: 20px;
    list-style: none; 
    color: white;
}
.menu a{
    text-decoration: none;
}

.menu a:hover{
    color: black;
}
.imagenPrincipal{
    display: flex ;
    justify-content: center;
    background-image: url(img/imgPrincipal.jpg);
    background-size: cover;
    background-position: center;
    padding: 5%;
}
.imagen1{
    background-image: url();
    background-size: cover;
    background-position: center;
}

.pelisDestacadas{
    display: flex;
    justify-content: space-between;
}

.personajPopulares{
    display: flex;
    justify-content: space-between;
}

.personaje1{
    background-color: rgb(236, 185, 108);
}

.personaje2{
    background-color: rgba(204, 204, 82, 0.795);
}

.personaje3{
    background-color: rgb(120, 214, 143);
}

.personaje4{
    background-color: rgb(155, 230, 243);
}

